.chat(
  ng-class="{expanded: expandChat}"
)
  .header(
    ng-click="expandChat = !expandChat"
    ng-class="{'new-messages': readCount != messages.length}"
  ) Chat
    span(ng-if="readCount != messages.length") - ({{messages.length - readCount}} new)

  .body
    .messages(watch-bottom="messages", transition='500')
      p(ng-repeat="message in messages | orderBy:'timestamp'")
        | {{message.timestamp | amDateFormat:'hh:mm'}} - {{message.user.name}}: {{message.message}}

  .footer
    form(
      ng-if="!!session.user.name"
      ng-submit="broadcast(model.message); model.message=''"
    )
      input(ng-model="model.message" type="text" placeholder="chat away...")
      input(type="submit" value="Send")

    div(ng-if="!session.user") Sign in or up to chat
