//- Connect a social account to save your progress and collect points
//- Your progress is also stored locally
//- This page guides you through your first reward into your first spend
section#onboard
  section#join(
    ng-if="!session.user"
    ng-controller="AccountCtrl"
  )
    h2 How to play?
    provider(ng-repeat="(slug, provider) in providers")
    p Connect a social account

  section#first-points(
    ng-if="session.user && session.user.points < 150"
  )
    h3 Congrats!

    p You've earned your first {{session.user.points}} power points.

    button(href="#/spend") Spend them
    button(href="#/earn") Earn more


  form.challenge(
    ng-submit="createChallenge()"
    ng-if="session.user && session.user.lifetimePoints >= 150"
  )
    textarea(ng-model="challenge.text" placeholder="Tell me what to do!" ng-maxlength="135" required)
    input(type="submit" value="Challenge Jesse" ng-disabled="createChallenge.locked")