section#rewards
  .splash
    h2 Collect Power Points

    p
      | My harvester robots work day and night for your rewards.

  .card.twitter
    h3 Twitter

    ul
      // Connect
      li(
        points="100"
        ng-class="{completed: !!session.user.accounts.twitter}"
      )
        a(ng-click="session.user.addAccount('twitter')") Connect your account

      // Follow
      li(
        points="150"
        ng-class="{completed: !!session.user.accounts.twitter.is_follower, disabled: !user.accounts.twitter}"
      )
        a(href="//twitter.com/jessethegame" target="_blank") Follow me

      // Tweet
      li(
        points="100"
        ng-class="{disabled: !session.user.accounts.twitter}"
      )
        | Mention @jessethegame

  .card.github
    h3 Github

    ul
      // Connect
      li(
        points="100"
        ng-class="{completed: !!session.user.accounts.github}"
      )
        a(ng-click="session.user.addAccount('github')") Connect your account

      // Follow
      li(
        points="150"
        ng-class="{completed: session.user.accounts.github.is_follower, disabled: !user.accounts.github}"
      )
        a(href="//github.com/jessethegame" target="_blank") Follow me

      // Stargaze
      li(
        points="150"
        ng-class="{disabled: !session.user.accounts.github}"
      )
        | Star any of
        = ' '
        a(href="//github.com/jessethegame" target="_blank") my repositories

  .card.facebook
    h3 Facebook

    ul
      // Connect
      li(
        points="100"
        ng-class="{completed: !!session.user.accounts.facebook}"
      )
        a(ng-click="session.user.addAccount('facebook')") Connect your account
