doctype html
head
  meta(charset="utf-8")
  meta(
    name="viewport"
    content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
  )
  link(href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" type="text/css")

  title Jesse the Game
  <!-- inject:html -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
body(ng-app="jtg" google-maps-async="")

  header
    h1 Jesse the Game

    //- nav
    //-   a(ui-sref="feed") Journal
    //-   a(ui-sref="rewards") Rewards
    //-   a(ui-sref="assignments") Quests
    section#session(ng-controller="SessionCtrl" spinner="auth.connect.locked")

      form#login(ng-if="!session.user" ng-submit="providers.dummy.connect({name: name})")
        input(type="text" ng-model="name" placeholder="Name")
        input(type="submit" value="Connect")

      section#profile(ng-if="!!session.user")
        span.name {{session.user.name}}!
        span.points {{session.user.points}}
        button(ng-click="session.disconnect()") Disconnect
        .avatar(style="background-image: url({{session.user.image}})")


  view#onboarding(ng-controller-off="OnboardCtrl")
    //- p Connect a social account to save your progress and collect points
    //- p Your progress is also stored in a a cookie
    //- p This page guides you through your first reward into your first spend

  view#feed(ng-controller-off="SocialCtrl")
    //- TODO dynamic templates
    //- Tweet
    //- Facebook
    //- Github (commits to master branch)
    story(ng-repeat="story in stories")

  view#quests(ng-controller-off="QuestCtrl")
    //- p Every tweet with #jessethegame is pulled in as a quest
    //- p Every retweet gives it points
    //- p Every spend gives it points

  view#grind(ng-controller-off="GrindCtrl")
    //- p Every hour get points (up to 24)
    //- p Every mention get points
    //- p Every listen get points
    //- p Every follow get points
    //- p Every like get points
    //- p Every (github) follow get points

  main
    aside#accounts(ng-controller="AccountCtrl")
      account(ng-if="session.user" ng-repeat="(slug, account) in session.user.accounts")

      provider(ng-if="!session.user.accounts[slug]" ng-repeat="(slug, provider) in providers")

    aside#navigation

    .row

      section#intro
        h2 Jesse the Game?

        p
          | This is an effort to realise my pipedream of
          | turning my world into an actual game.
          | Of inventing a new class of entertainment.
          | Of becoming the world's first pop-programmer.
          | Of being the puppet of the internet.
          | Of performing an extreme social experiment.

        p
          | You get to challenge me to do things.
          | Funny things, funky things, crazy things.
          | You also get to promote these challenges with
          strong  Power Points
          | . At the end of the week I will take on the challenge
          | with the most points, and post a report once I'm done.

        p
          | This page will be progressively enhanced and turn
          | into something more engaging.

      chat#chat

    .row

      button(ng-click="locationFeed.start()") Feed
      .map-wrapper
        minimap
        .map-overlay



    view#challenges(ng-controller="ChallengeCtrl")
      form.challenge(ng-submit="createChallenge()")
        h2 {{categories[challenge.category].title || "Challenge"}}
        textarea(ng-model="challenge.text" ng-maxlength="135" required)
        select(
          ng-model="challenge.category"
          ng-options="slug as category.title for (slug, category) in categories"
          required
        )
        input(type="submit" value="Challenge Jesse" ng-disabled="createChallenge.locked")

      challenge(ng-repeat="challenge in challenges")

    view#github(ng-controller="GithubCtrl")
      h2
        a(ng-href='//github.com/{{user}}', target='_blank') {{user}} on GitHub
      ul(watch-top="activities" transition="1000")
        li(ng-repeat='activity in activities')
          ng-switch(on='activity.type')
            span(ng-switch-when='PushEvent') Committed to
              = ' '
              a(href='//github.com/{{activity.repo.name}}') {{activity.repo.name}}:
              br
              div(ng-repeat='commit in activity.payload.commits')
                = '- '
                a(ng-href='//github.com/{{activity.repo.name}}/commit/{{commit.sha}}') {{commit.message}}
            span(ng-switch-when='CreateEvent')
              = 'Created '
              a(ng-href='//github.com/{{activity.repo.name}}') {{activity.repo.name}}
            span(ng-switch-when='WatchEvent')
              = 'Followed '
              a(ng-href='//github.com/{{activity.repo.name}}') {{activity.repo.name}}
            span(ng-switch-when='IssuesEvent')
              = '{{activity.payload.action|capitalize}} issue on '
              a(ng-href='//github.com/{{activity.repo.name}}') {{activity.repo.name}}
              br
              = '- '
              a(ng-href='{{activity.payload.issue.url}}') {{activity.payload.issue.title}}
              br
          = ' '
          span.date(
            title='{{activity.created_at}}'
            am-time-ago="activity.created_at"
          )



    aside#toasts(ng-cloak="")
      toast(ng-repeat="toast in toast.toasts")


  //- form(ng-submit="toast.create(T.payload); T.payload = ''")
  //-   input(type="text" ng-model="T.payload")
  //-   input(type="submit" value="Toast")



  //- main(ui-view="")

  aside#filters(ng-controller-off="FilterCtrl")
    //- p Control the feed
    //- filter All
    //- filter Social
    //- filter Game
    //- filter Code

    //- filter Twitter
    //- filter Facebook
    //- filter Github

    //- filter Quests
    //- filter Rewards

  // script(src="//jessethegame.net:5000/socket.io/socket.io.js")
  script(src="//localhost:8080/socket.io/socket.io.js")
  script(src="/lib/jquery/dist/jquery.js")
  script(src="/lib/angular/angular.js")
  script(src="/lib/moment/moment.js")
  script(src="/lib/angular-moment/angular-moment.js")
  script(src="/lib/angular-local-storage/angular-local-storage.js")
  script(src='//maps.googleapis.com/maps/api/js?sensor=false')
  script(src='/lib/lodash/dist/lodash.underscore.js')
  script(src='/lib/angular-google-maps/dist/angular-google-maps.js')
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:templates.js -->
  <!-- endinject -->
